.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20rem;
  height: 25rem;
  margin: 2rem;
  background-color: $pure-white;
  cursor: pointer;
}

.card__img {
  width: 100%;
}

.card-text__container {
  padding: 1rem;
}

.card:hover {
  background: rgba(0, 0, 0, .3);
}

.play-btn__container {
  position: relative;
  text-align: center;
  top: -10rem;
  opacity: 0;
  transition: opacity .35s ease;
}

.play-btn__icon {
  text-align: center;
  color: white;
  z-index: 1;
}

.card:hover .play-btn__container {
  opacity: 1;
}


