.container {
  display: flex;
  flex-direction: row;
  bottom: 8rem;
  justify-content: center;
  margin: 0 auto -50px;
  max-height: 110vh;
  height: 110vh;
  overflow: auto;
  background-color: $background-gray;
  position: relative;
  top: 10rem;
}

.music__container {
  width: 100%;
  margin: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 30rem;
}

@media screen and (max-width: 600px) {
  .music__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }
}
