.header {
  background: $transparent-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $pure-white;
  margin-bottom: $m-size;
  padding: $m-size 0;
  height: 4rem;
}

.header__center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 2.4rem;
}

.header__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 4.8rem;
  position: absolute;
  width: 7rem;
  height: 7rem;
}

.header__link {
  font-size: $l-size;
  margin: 0;
  float: right;
  display: block;
  text-align: center;
  padding: $m-size;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: $pure-white;
}

.header__icon {
  display: none;
}

.header__logo {
  width: 100%;
  height: auto;
}

.header-menu__icon {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

@media screen and (max-width: 600px) {
  .header__center a:not(:first-child) {display: none;}
  .header__icon {
    display: flex;
    align-self: flex-end;
  }
}

@media screen and (max-width: 600px) {
  .header__center.responsive {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 11rem;
  }
  .header__center.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header__center.responsive a {
    float: none;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}
