html, body {
    min-height: 100%;
    height: 1716px;
    margin: 0;
  }
  
  .App, #root, .container-wrapper {
    height: 100%;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    background: $pure-white;
    font-family: 'Roboto', sans-serif;
    font-size: $m-size;
  }
  
  button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }
  
  .App {
    text-align: center;
  }