// Colors
$pure-white: #ffffff;
$light-grey: #dddddd;
$dark-gray: #4A4A4A;
$light-gray: #b3b3b3;
$transparent-dark: rgba(0,0,0,.7);
$background-gray: #eeeeee;
$orange: #ea7f28;
$dark-orange: #D37324;
// Spacing
$xs-size: 0.4rem;
$s-size: 0.8rem;
$m-size: 1.2rem;
$mm-size: 1.5rem;
$ml-size: 1.8rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;
$xxl-size: 4.2rem;
$desktop-breakpoint: 45rem;
